@import "tailwindcss";
@import '@fontsource/open-sans/400.css';
@import '@fontsource/open-sans/600.css';
@import '@fontsource/open-sans/700.css';

:root {
  /* Basic */
  --black: rgba(28, 33, 39, 1);
  --white: rgba(251, 251, 251, 1);
  --gray-50: rgba(246, 248, 249, 1);
  --gray-100: rgba(236, 239, 242, 1);
  --gray-200: rgba(213, 220, 226, 1);
  --gray-300: rgba(176, 189, 201, 1);
  --gray-400: rgba(132, 154, 172, 1);
  --gray-500: rgba(101, 125, 146, 1);
  --gray-600: rgba(80, 101, 121, 1);
  --gray-700: rgba(66, 82, 98, 1);
  --gray-800: rgba(57, 70, 83, 1);
  --gray-900: rgba(51, 61, 71, 1);
  --primary-50: rgba(244, 246, 251, 1);
  --primary-100: rgba(231, 237, 247, 1);
  --primary-200: rgba(202, 216, 237, 1);
  --primary-300: rgba(156, 184, 221, 1);
  --primary-400: rgba(103, 147, 201, 1);
  --primary-500: rgba(67, 117, 179, 1);
  --primary-600: rgba(50, 92, 151, 1);
  --primary-700: rgba(41, 74, 123, 1);
  --primary-800: rgba(38, 64, 102, 1);
  --primary-900: rgba(36, 56, 86, 1);
  --primary-950: rgba(24, 36, 57, 1);

  /* Primary Button */
  --btn-primary-bg: var(--primary-500);
  --btn-primary-bg-hover: var(--primary-600);
  --btn-primary-bg-hover: var(--primary-600);
  --btn-primary-text: var(--white);
}

body {
  font-family: 'Open Sans', sans-serif !important;  
}
